/*
Theme Name: Verdilo
Author: Wizarts on the moon
Description: A clean and simple theme that offers the special requirements for the Verdilo website
Version: 1.0 beta
*/

/**
 * 1.0 - Reset
 *
 * Resetting and rebuilding styles have been helped along thanks to the fine
 * work of Eric Meyer, Nicolas Gallagher, Jonathan Neal, and Blueprint.
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background: #f1f1f1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption,
th,
td {
    font-weight: normal;
    text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    quotes: none;
}

a:focus {
    outline: 0;
}

a:hover,
a:active {
    outline: 0;
}

a img {
    border: 0;
}


body, html {
    background: #fff;
    font-family: 'ff-tisa-web-pro', Georgia, "Times New Roman", Times, serif; color: #666; font-size: 14px; line-height: 23px;
}
p {
    margin: 5px 0 15px;
}
.entry-content p {
	float: left; width: 100%;
}
a {
    text-decoration: none;
    color: #d3041d;
}

h1 {
    margin-bottom: 40px;
}

/**
 * General
 */
.full {
    float: left; width: 100%; clear: both;
}
.clear {
	float: left; width: 100%; height: 1px; clear: both;
}
.inside {
    width: 1120px; margin: 0 auto;
    clear: both;
}
.small {
    font-size: 13px;
}
.great {
    margin-top: 25px;
    font-size: 17px; color: #666; font-weight: lighter;
}

.button {
    display: block; float: left; clear: both;
    margin: 20px 0 15px; padding: 12px 12px;
    background: #d3041d;
    color: #fff; font-family: 'Montserrat', sans-serif; font-weight: 400; text-transform: uppercase;
}

.button.white {
    width: 100%;
    background: #fff;
    color: #d3041d; font-family: 'Montserrat', sans-serif; text-align: center; font-weight: 400;
}
.open-sans {
    font-family: 'Montserrat', sans-serif; text-transform: uppercase; font-weight: 400;
}
.big {
    font-size: 17px; line-height: 24px;
}
.font-red {
    color: #d3041d;
}

.entry-content img.alignleft {
    float: left; margin: 0 20px 20px 0;
}
.red {
    padding: 40px 0;
    background: #d3041d;
    color: #fff;
}

.two.last {
    float: right;
    margin-right: 0; margin-left: 2%;
}
.two {
    float: left; width: 48%;
    margin-right: 2%;
}

/**
 * Header
 */
.header .site-branding {
    float: left; width: 20%;
    text-align: center;
}
.header .site-branding .site-title a {
    display: block; float: left; width: 100%; height: 109px;
    margin: 20px 0 50px;
    background: url('images/verdilo-logo-web.png') no-repeat top center;
    text-indent: -3333em;
}
.header .menu {
    float: left; width: 40%;
    margin: 94px 0 94px;
}
.header .menu li {
    float: left; width: 100%;
}
.header .menu li a {
    display: block; float: left; width: 100%;
    text-align: center;
    color: #000; text-transform: uppercase;
    font-family: 'Montserrat', sans-serif; font-weight: 400;
}
.header .menu .menu-header-right-container li a {
    text-align: center;
}
.header .menu li a:hover,
.header .menu li.active a {
    color: #d3041d;
}


/**
 * Content
 */
.full h1 {
    font-size: 32px; line-height: 40px; color: #d3041d; font-weight: 300;
}
.full h2 {
    margin-bottom: 25px;
    font-size: 24px; line-height: 30px; font-weight: 300;
}
.full h3 {
    padding: 10px 0;
    background: #fff;
    font-family: 'Montserrat', sans-serif; font-size: 17px; line-height: 24px; text-transform: uppercase; font-weight: 400;
}

.single-post .entry-content h1 {
	float: left;
}
.single-post .entry-content .entry-cats {
	float: right;
	margin-top: 10px;
}
.single-post .entry-content .entry-cats a {
	float: right; 
	margin-left: 10px; padding: 5px 8px;
	background: #d3041d;
	color: #fff;
    font-family: 'Montserrat', sans-serif; font-size: 14px; line-height: 21px; text-transform: uppercase; font-weight: 400;
}

.entry-content {
    float: left; width: 100%;
    position: relative;
}
.entry-content li {
    list-style-type: disc;
    list-style-position: inside;
}
.entry-content a:hover {
    text-decoration: underline;
}
.entry-content .cat-inner a:hover {
	text-decoration: none;
}
.contact-date,
.contact-text {
    font-size: 16px; line-height: 26px;
}
.contact-hour {
    color: #BBB; font-size: 15px;
}

.post-thumb {
    margin-bottom: 30px;
}
.post-content {
    float: left; min-height: 250px; width: 100%;
    position: relative;
    margin-bottom: 40px;
}
.post-content .inner {
    float: left; width: 64%;
}
.post-contact {
    position: absolute; top: 0; right: 0;
    float: left; width: 34%;
    z-index: 999;
    -webkit-box-shadow: 10px 10px 0px 0px #e2e2e2;
    -moz-box-shadow: 10px 10px 0px 0px #e2e2e2;
    box-shadow: 10px 10px 0px 0px #e2e2e2;
    border: 2px solid #fff;
    padding: 2%;
    background: #d10a11;
    color: #fff;
}
.post-contact div {
    padding: 0 0 18px; margin: 0 0 18px;
    border-bottom: 1px solid #e2e2e2;
}
.post-content div.last {
    border-bottom: 0;
    padding-bottom: 0; margin-bottom: 12px;
}
.post-content .gallery .gallery-item {
    width: auto !important;
    margin: 0 19px 19px 0 !important;
}
.post-content .gallery .gallery-item img {
    border: 0 !important;
}

.post-contact .price {
    font-size: 22px; line-height: 32px;
}
.post-contact .location {
    min-height: 40px;
    padding-left: 40px;
    background: url('images/marker.png') no-repeat left 4px;
    font-family: 'Montserrat', sans-serif; font-size: 15px; text-transform: uppercase; line-height: 24px; font-weight: 400;
}
.post-item {
    float: left; width: 336px;
    margin-right: 56px; margin-bottom: 40px;
}
.post-item:nth-child(3n+1) {
    margin-right: 0;
}
.post-item:nth-child(3n+2) {
    clear: both;
}
.thumbnail {
    width: 336px; height: 250px;
    overflow: hidden;
}
.post-entry img {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.post-entry img:hover {
    width: 102%; height: 102%;
}
.post-entry {
    margin-bottom: 30px;
    -webkit-box-shadow: 10px 10px 0px 0px #e2e2e2;
    -moz-box-shadow: 10px 10px 0px 0px #e2e2e2;
    box-shadow: 10px 10px 0px 0px #e2e2e2;
    position: relative;
}
.post-entry .cat,
#slider .cat {
    position: absolute; top: -2px; left: -35px;
    background: url('images/black.png') no-repeat top left;
    padding-top: 33px; padding-left: 2px;
    z-index: 933;
}
.post-entry .cat .cat-inner a,
#slider .cat .cat-inner a {
    display: block;
    padding: 6px 26px; margin-bottom: 1px;
    background: #d10a11;
    font-family: 'Montserrat', sans-serif; font-size: 15px; text-transform: uppercase; line-height: 23px; color: #fff; font-weight: 400;
}
.post-entry .cat .cat-inner a:hover,
#slider .cat .cat-inner a:hover {
    background: #000;
}
.post-entry h3 {
    padding-left: 15px; padding-top: 15px;
}
.post-item .short-descr {
    padding: 10px 15px 20px;
    background: #d10a11;
    color: #fff;
}
.post-entry a:hover {
    color: #000;
}
.read-more {
    color: #d10a11; text-align: right;
}
.cat-overview {
    float: left; width: 100%; clear: both;
    margin-bottom: 25px;
}
.cat-overview li {
    float: left;
    list-style-type: none;
    margin-right: 8px; padding-right: 8px;
    font-family: 'Montserrat', sans-serif; font-size: 17px; text-transform: uppercase; line-height: 29px; color: #d10a11; font-weight: 400;
}
.cat-overview li:after {
    padding-left: 16px;
    content: '/';
}
.cat-overview li:last-child:after {
    content: '';
}
.cat-overview li a:hover,
.cat-overview li.current-cat a {
    color: #000;
}



/**
 * Slider
 */
#slider {
    float: left; width: 1120px; height: 520px;
    position: relative;
    padding-bottom: 40px;
    margin-bottom: 40px;
}
#slider #featured {
    float: left;
}

#slider .post-slider-item {
    display: none;
    background: #fff;
}
#slider .post-thumb {
    text-align: center; font-size: 19px;
}
#slider .post-thumb h4 {
    margin-top: 15px;
    text-transform: uppercase; font-size: 16px;
}
#slider .slider-nav .left {
    position: absolute; bottom: 0; left: 0;
    display: block; width: 20px; height: 18px;
    text-indent: -3333em;
    background: url('images/prev.png') no-repeat top left;
    z-index: 1005;
}
#slider .slider-nav .right {
    position: absolute; bottom: 0; right: 0;
    display: block; width: 20px; height: 18px;
    text-indent: -3333em;
    background: url('images/next.png') no-repeat top right;
    z-index: 1005;
}
#slider .slider-nav span:hover {
    cursor: pointer;
}


/**
 * Pages
 */
body.home h3 {
    margin: 20px 0;
}
body.home .button {
    float: right;
}
body.home .post-thumb {
    margin-bottom: 15px;
}


/**
 * Forms
 */
.inside .gform_wrapper .left_label input.large,
.gform_wrapper li.field_sublabel_above .ginput_complex input[type=text] {
	border: 1px solid #999;
}
.inside .gform_wrapper .gform_footer input.button {
	float: left; width: 98%;
	background: #000; 
	border: 1px solid #000;
}
.inside .gform_wrapper .gform_footer input.button:hover {
	cursor: pointer;
	background: #d3041d;
}
.inside .validation_error {
	display: none;
}
.inside .gform_wrapper li.gfield.gfield_error {
	background: transparent;
	border: 0;
}
.inside .gform_wrapper .gfield_description.validation_message {
	display: none;
}
.inside .gform_wrapper .gfield_error .gfield_label {
	color: #000;
}
.inside .gform_wrapper li.gfield_error input[type="text"],
.inside .gform_wrapper li.gfield_error textarea {
	border-color: #d3041d;
}

.inside .gform_wrapper .left_label .gfield_error div.ginput_complex {
	width: 66%;
}

	
.inside .gform_body {
	padding-top: 50px;
}
.inside .gform_wrapper .gform_footer.left_label {
	float: left;
	padding-bottom: 50px;
}

.inside .gform_wrapper .left_label .gfield_label {
	margin-top: 6px;
	text-align: right;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400; font-size: 17px;
}
.inside .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container,
.inside .gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
	margin-top: 6px;
}
.inside .gform_wrapper .field_sublabel_above .ginput_complex label {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400; font-size: 12px;
}



/**
 * Footer
 */
.footer {
    padding:0 0 10px; margin: 0;
    background: #ddd;
}
.footer .three {
    float: left; width: 36%;
    padding-top: 68px;
}
.footer .three.first {
    width: 30%;
    margin-right: 5%;
    background: url('images/footer-full.png') no-repeat top left;
}
.footer .three.first .widget {
    padding-left: 44px;
}
.footer .three.first #black-studio-tinymce-2 p {
    margin: 2px 0 30px 0 !important;
    padding: 7px 0 5px;
    background: #d10a11;
    color: #fff;
    font-family: 'Montserrat', sans-serif; font-size: 15px; text-transform: uppercase; line-height: 23px; font-weight: 400;
}
.footer .three.first #black-studio-tinymce-2 p a {
    color: #fff;
}
.footer .three.first #black-studio-tinymce-2 p a:hover {
    color: #fff; 
}

.footer .three.last {
    width: 24%; margin-left: 2%;
}
.footer .three.last .to-up {
    float: right; width: 60px;
    min-height: 60px;
    padding: 70px 0 0;
    background: url('images/trans-3.png') top center no-repeat;
    font-family: 'Montserrat', sans-serif; font-weight: 400;
    text-align: center; text-transform: uppercase;
}

.footer .widget-title {
    display: none;
}
.footer .menu li {
    display: block; float: left; width: 86%; clear: both;
    padding: 5px 0;
    border-bottom: 1px solid #aaa;
    text-align: center;
}
.footer .menu li:last-child {
    border-bottom: 0;
}
.footer .menu li a {
    font-family: 'Montserrat', sans-serif; font-weight: 400;
    text-transform: uppercase;
}
.footer .credits a,
.footer .menu li a,
.footer .to-up a {
    color: #444;
}
.footer .credits a:hover,
.footer .menu li:hover a,
.footer .to-up a:hover {
    color: #d3041d;
    cursor: pointer;
}

.footer .credits {
    padding-top: 30px;
    text-align: center; color: #888;
}
.footer .credits a {
    color: #777;
}


@media only screen and (min-width: 1050px) and (max-width: 1200px) {
    .inside {
        width: 960px;
    }
    #slider, #featured {
        width: 960px !important;
        height: 450px !important;
    }

    .post-item, .thumbnail {
        width: 282px;
    }

    .thumbnail {
        height: 210px;
    }

    img, video, audio, iframe {
        max-width: 100% !important; width: 100% !important;
        height: auto !important;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1049px) {
    .inside {
        width: 720px;
    }
    #slider, #featured {
        width: 720px !important;
        height: 350px !important;
    }

    .post-item, .thumbnail {
        width: 332px;
    }

    .thumbnail {
        height: 250px;
    }

    .post-item:nth-child(3n+1) {
        margin-right: 56px;
    }
    .post-item:nth-child(2n+1) {
        margin-right: 0;
    }

    img, video, audio, iframe {
        max-width: 100% !important; width: 100% !important;
        height: auto !important;
    }
}
@media only screen and (min-width: 500px) and (max-width: 799px) {
    .inside {
        width: 480px;
    }
    #slider, #featured {
        display: none;
    }

    .post-item {
        clear: both;
        margin-right: 0;
    }
    .post-item, .thumbnail {
        width: 332px;
    }

    .thumbnail {
        height: 250px;
    }

    .post-item:nth-child(3n+1) {
        margin-right: 56px;
    }
    .post-item:nth-child(2n+1) {
        margin-right: 0;
    }

    img, video, audio, iframe {
        max-width: 100% !important; width: 100% !important;
        height: auto !important;
    }
}